## Import all necesary libraries

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1. Share the dataset source link, a brief description of its content and your motivation for choosing it.
### Link: <br>
"https://opendata-ajuntament.barcelona.cat/data/es/dataset/est-cadastre-habitatges-superficie-mitjana/resource/d309f5d0-06e1-47e2-accd-e0e2f08e275b"

### Description and motivation: 
It's a csv file from the open data of the the Ajuntament de Barcelona official website. It contains the details of the average surface area of properties in the city of Barcelona whose main use and purpose is housing. I've chosen this topic because i'm a international student that is looking for housing right now, and my main scopes are location and square feet (also price, but since this is an official dataset from Barcelona's Townhall, they can't really give market speculation numbers). <p>
It's a fun topic that comes in handy with my current situation

### 2. Load the dataset using Pandas.

In [37]:
# Load the dataset
barcelona_houses_2025_df = pd.read_csv('2025_properties.csv')

# Display the first 5 rows
barcelona_houses_2025_df.head()

,Year,Cod_district,Name_district,Code_barrio,Name_barrio,Seccion_censal,Sup_media_m2
0,2025,1,Ciutat Vella,1,el Raval,1,76.7
1,2025,1,Ciutat Vella,1,el Raval,2,68.1
2,2025,1,Ciutat Vella,1,el Raval,3,59.1
3,2025,1,Ciutat Vella,1,el Raval,4,65.4
4,2025,1,Ciutat Vella,1,el Raval,5,76.6

### 3. Make some basic data profiling (statistics about the data, distributions, missing values, etc.) using Pandas methods.

In [38]:
#Lets check the basic stats of the datset with describe()
barcelona_houses_2025_df.describe().round(1)

         Year  Cod_district  Code_barrio  Seccion_censal  Sup_media_m2
count  1068.0        1068.0       1068.0          1068.0        1068.0
mean   2025.0           5.7         33.2            60.6          77.9
std       0.0           2.9         21.9            41.6          20.1
min    2025.0           1.0          1.0             1.0          36.1
25%    2025.0           3.0         13.0            27.8          66.3
50%    2025.0           6.0         31.0            54.0          73.5
75%    2025.0           8.0         52.0            87.0          82.8
max    2025.0          10.0         73.0           237.0         233.8

In [39]:
#Checking if any of the columns have missing values
barcelona_houses_2025_df.isnull().sum()

Year              0
Cod_district      0
Name_district     0
Code_barrio       0
Name_barrio       0
Seccion_censal    0
Sup_media_m2      0
dtype: int64

In [45]:
#Check how many Districts and Barrios (neighborhoods) we have in the csv
print(f"Districts found: {barcelona_houses_2025_df['Name_district'].nunique()}")
print(f"Neighborhoods found: {barcelona_houses_2025_df['Name_barrio'].nunique()}")

Districts found: 10
Neighborhoods found: 73